<h2>New Blog</h2>
<div class="form-group col-md-6 col-md-offset-3">
  <label for="author">Enter Your Name</label>
  <input type="text" id="author" class="form-control" name="author" value="" placeholder="John Doe">
</div>
<div class="form-group col-md-6 col-md-offset-3">
  <label for="blog-title">Blog Title</label>
  <input type="text" id="blog-title" class="form-control" name="blog-title" value="" placeholder="My Awesome Blog Title">
</div>
<div class="form-group col-md-6 col-md-offset-3">
  <label for="blog-content">Blog Away!</label>
  <textarea id="blog-content" class="form-control" name="blog-content" rows="8" cols="40" placeholder="My awesome blog is about..."></textarea>
  <button type="submit" name="btn btn-default">Create New Blog</button>
</div>
